<%- include('partials/header.ejs'); -%>

<div class="container">
   <div style=" width: 30%; margin: auto;">
       <h1 style="margin-top: 50px; font-size: 50px;">Landing Page</h1>

       <p style="margin-top: 20px; font-size: 25px;">Welcome to Yelp Camp</p>
       <a href="/campgrounds" style="margin-top: 20px; font-size: 20px;">View all campgrounds</a>
   </div>
</div>

</body>
</html>